/* HomePage */
.cover {
    background-image: linear-gradient(rgba(0,0,0,0.5), 
        rgba(0,0,0,0.1)), 
        url(../images/homepage_full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #263238;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1Cover {
    text-align: center;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    font-family: 'Barlow', sans-serif;
}

.pCover {
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    font-family: 'Barlow', sans-serif;
}

/* Cover button down */
.expandIcon {
    color: white;
    transition: transform 0.3s;
}
  
.expandIcon:hover {
    transform: scale(1.2);
    color: #86c232;
    font-weight: 700;
}

/* Social buttons */
.coverIcon:hover {
    transform: scale(1.2);
}

/* Mobile specific styles */
@media (max-width: 700px) {
    .cover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/homepage_mobile.jpg);
    }

    .h1Cover {
        font-size: 10px;
    }
}