/*.typed {
    font-family: "roboto";
    margin: 0;
    margin-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
    position: relative;
}
    
@keyframes typing {
    0% { width: 0; }
    40% { width: 40%; }
    80% { width: 80%; }
    100% { width: 100%; }
  }
  
@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: white}
    100% {border-right-color: transparent}
}

.resetAnimation {
    animation: none;
}*/

.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: red;
    animation: blinkAnimation 1s infinite;
    opacity: 0;
}

@keyframes blinkAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}