/* NavBar */
.navLink {
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
}

.navLink:hover {
    color: #86c232;
    font-weight: 700;
    text-decoration: overline;
}

.typeAnimation {
    font-size: 1.5em;
    display: inline-block;
    font-family: 'Major Mono Display', monospace;
}

/* ScrollButton */
.scrollTopButton {
    display: none;
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #86c232;
    color: white; 
    opacity: 60%;
    padding: 0px;
    border-radius: 50%;
    font-size: 20px;
}

.scrollTopButton:hover {
    opacity: 100%;
}

/* Cards */
